@use "./mq" as *;
@use "./variables" as *;
@use "./common" as *;
@use "./drawer" as *;
@use "./modal" as *;

// header
.header {
  &__inner {
    padding: 22px 15px;
    display: flex;
    justify-content: space-between;
    @include mq(pc) {
      max-width: calc($width-inner + 30px * 2);
      margin: 0 auto;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 21px;
    }
  }
  &__logo {
    @include mq(pc) {
      padding-top: 6px;
    }
    a {
      img {
        width: 100px;
        display: block;
        @include mq(pc) {
          width: 135px;
        }
      }
    }
  }
  &__nav {
    display: none;
    @include mq(pc) {
      display: flex;
      align-items: center;
      gap: 40px;
    }
  }
  &__link {
    font-weight: 700;
    letter-spacing: 0.48px;
    transition: color 0.3s ease;

    &:hover {
      color: #fabe00;
    }
  }

  &__open {
    margin-top: 3px;
    @include mq(pc) {
      display: none;
    }
  }
}

// drawer-icon
.drawer-icon {
  width: 36px;
  height: 21px;
  position: relative;
  z-index: 51;

  &.is-checked {
    .drawer-icon__bar {
      &:nth-of-type(1) {
        top: 10px;
        transform: rotate(30deg);
      }

      &:nth-of-type(2) {
        display: none;
      }

      &:nth-of-type(3) {
        top: 10px;
        transform: rotate(-30deg);
      }
    }
  }

  &__bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 3px;
    border-radius: 6px;
    background: #111;
    transition: transform 0.3s linear, top 0.3s linear;

    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 9px;
    }
    &:nth-of-type(3) {
      top: 18px;
    }
  }
}

// mv
.mv {
  border-radius: 20px;
  max-width: calc(100% - 15px * 2);
  margin: 0 auto;
  background: $color-gradation;

  @include mq(pc) {
    border-radius: 30px;
    max-width: calc(100% - 30px * 2);
  }

  &__inner {
    position: relative;
    padding: 50px 20px 255px;
    @include mq(pc) {
      padding-top: 110px;
      padding-bottom: 109px;
      padding-left: 30px;
      padding-right: 30px;
      max-width: calc(1040px + 30px * 2);
      margin: 0 auto;
    }
  }
  &__content {
  }
  &__lead {
  }
  &__lead1,
  &__lead2 {
    font-feature-settings: "palt" on;
    font-size: 22px;
    font-weight: 700;
    line-height: 1; /* 22px */
    letter-spacing: 2.2px;
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    display: block;
    width: fit-content;
    margin: 0 auto;

    @include mq(pc) {
      margin: 0;
      font-size: 38px;
      letter-spacing: 3.8px;
      padding: 12px 16px;
    }
  }

  &__lead1 {
  }
  &__lead2 {
    margin-top: 8px;
    @include mq(pc) {
      margin-top: 14px;
    }
  }
  &__description {
    text-align: center;
    letter-spacing: 0.48px;
    margin: 0 auto;
    font-weight: 700;
    margin-top: 26px;

    @include mq(pc) {
      text-align: left;
      margin-top: 20px;
      font-size: 18px;
      letter-spacing: 0.54px;
    }
  }
  &__button {
    margin-top: 22px;
    text-align: center;

    @include mq(pc) {
      text-align: left;
      margin-top: 30px;
    }
    //   a {
    //     text-align: center;
    //     font-weight: 700;
    //     letter-spacing: 0.48px;
    //     color: #fff;
    //     border-radius: 60px;
    //     border: 2px solid #fff;
    //     background: #111;
    //     display: inline-block;
    //     //   ボーダー分を考慮してpaddingを設定してる
    //     padding: calc(10px - 2px) calc(30px - 2px);
    //   }
  }
  &__image {
    position: absolute;
    right: 0;
    bottom: -108px;
    width: 100%;
    text-align: center;

    @include mq(pc) {
      // 画面幅に合わせて画像が伸縮する書き方
      width: calc(600px / 1040px * 100%);
      text-align: right;
      bottom: -88px;
      right: 30px;
    }
    img {
      width: 345px;
      @include mq(pc) {
        width: 600px;
      }
    }
  }
}

// case
.case {
  margin-top: 108px;
  padding: 60px 0;

  @include mq(pc) {
    margin-top: 89px;
    padding: 70px 50px;
  }
  &__inner {
    padding: 0 40px;

    @include mq(pc) {
      max-width: calc(920px + 40px * 2);
      margin: 0 auto;
    }
  }

  &__title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 1; /* 18px */
    letter-spacing: 1.8px;
    @include mq(pc) {
      font-size: 20px;
      letter-spacing: 2px;
    }
  }
  &__items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px 15px;
    @include mq(pc) {
      grid-template-columns: repeat(4, 1fr);
      gap: 26px 40px;
      margin-top: 54px;
    }
  }
  &__item {
    text-align: center;
    img {
    }
  }
}

// news
.news {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(pc) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  // &__inner {
  //   padding-left: 15px;
  //   padding-right: 15px;

  //   @include mq(pc) {
  //     max-width: calc($width-inner + 30px * 2);
  //     padding: 0 30px;
  //     margin: 0 auto;
  //   }
  // }
  &__card {
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 9px 30px 0px #f4f4f4;
    padding: 40px 12px;

    @include mq(pc) {
      border-radius: 30px;
      padding-top: 40px; // ずれがあったので独自で修正
      padding-bottom: 34px;
      padding-left: calc(105px / 1140px * 100%);
      padding-right: calc(105px / 1140px * 100%);
    }
  }
  &__title {
    font-family: $font-family-en;
    font-size: 38px;
    text-align: center;
    font-weight: 700;
    line-height: 1; /* 38px */
    letter-spacing: 3.8px;

    @include mq(pc) {
      font-size: 50px;
      letter-spacing: 5px;
      text-align-last: left;
    }
  }
  &__lists {
    margin-top: 28px;

    @include mq(pc) {
      margin-top: 30px;
    }
  }
  &__list {
    &:nth-child(n + 2) {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        top: 0;
        left: 0;
        background: #e3e3e3;
      }
    }
  }
  &__link {
    text-align: right;
    margin-top: 22px;

    @include mq(pc) {
      margin-top: 20px;
    }
    a {
      font-weight: 700;
      line-height: 100%; /* 16px */
      display: inline-block;
      border-bottom: 2px solid currentColor;
      padding-bottom: calc(10px - 2px);
      vertical-align: top;
      transition: color 0.3s;

      &:hover {
        color: #fabe00;
      }
    }
  }

  &-link {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background-color 0.3s;

    @include mq(pc) {
      flex-direction: row;
      padding-top: 12px;
      padding-bottom: 12px;
      gap: 0px;
    }

    &:hover {
      background-color: #fff9e5;
    }

    &__meta {
      display: flex;
      align-items: center;
      gap: 12px;

      @include mq(pc) {
        width: 247px;
        flex-shrink: 0;
        gap: 14px;
      }
    }

    &__date {
      color: #333;
      white-space: nowrap;

      @include mq(pc) {
        width: 119px;
      }
    }

    &__label {
      color: #fff;
      font-size: 11px;
      font-weight: 700;
      padding: 2px 10px;
      border-radius: 2px;
      background: #e4780c;
      min-width: 63px;
      text-align: center;

      &--news {
        background: #e4780c;
      }
      &--column {
        background: #ecb815;
      }
      &--event {
        background: #389b47;
      }
    }
    &__title {
    }
  }
}

// about
.about {
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;

  @include mq(pc) {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  &__inner {
  }
  &__title {
    text-align: center;
    img {
      width: 180px;

      @include mq(pc) {
        width: 230px;
      }
    }
  }
  &__content {
    margin-top: 150px;
    padding-top: 288px;
    padding-bottom: 105px;
    position: relative;
    text-align: center;

    @include mq(pc) {
      margin-top: 176px;
      padding-bottom: 284px;
      padding-bottom: 100px;
    }

    &::before {
      content: "";
      width: 1100px;
      height: 1100px;
      border-radius: 50%;
      background: $color-gradation;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;

      @include mq(pc) {
        width: 800px;
        height: 800px;
      }
    }
  }
  &__image {
    position: absolute;
    text-align: center;
    top: -110px;
    left: 0;
    width: 100%;

    @include mq(pc) {
      top: -126px;
    }

    img {
      width: 320px;
      @include mq(pc) {
        width: 330px;
      }
    }
  }
  &__text {
    font-weight: 700;
    line-height: 2.3; /* 36.8px */
  }
  &__pop {
    margin-top: 42px;
    font-weight: 700;
    line-height: 1; /* 16px */
    letter-spacing: 1.28px;

    @include mq(pc) {
      margin-top: 42px;
    }
  }
  &__button {
    margin-top: 12px;
    text-align: center;

    @include mq(pc) {
      margin-top: 15px;
    }

    // button {
    //   // commonファイルから継承
    // buttonとして共通ボタンを作ったから削除
    //   @extend .c-button;
    //   font-size: 16px;
    //   line-height: 1.7;
    // }
  }
}

// movie
.movie {
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(../img/section-bg.jpg) repeat top left / 529px auto;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__inner {
    padding-right: 15px;
    padding-left: 15px;
  }
  // &__title {
  //   text-align: center;
  //   &-en {
  //     font-family: $font-family-en;
  //     font-size: 38px;
  //     font-weight: 700;
  //     line-height: 100%; /* 38px */
  //     letter-spacing: 3.8px;

  //     @include mq(pc) {
  //       font-size: 50px;
  //       letter-spacing: 5px;
  //     }
  //   }
  //   &-ja {
  //     font-family: $font-family-en;
  //     font-size: 14px;
  //     font-weight: 400;
  //     line-height: 100%;
  //     letter-spacing: 1.12px;
  //     margin-top: 14px;

  //     @include mq(pc) {
  //       font-size: 16px;
  //       letter-spacing: 1.28px;
  //     }
  //   }
  // }
  &__iframe {
    margin-top: 32px;
    text-align: center;

    @include mq(pc) {
      margin-top: 56px;
    }

    iframe {
      width: 345px;
      height: auto;
      aspect-ratio: 345 / 194;
      max-width: 100%;
      vertical-align: top;

      @include mq(pc) {
        width: 640px;
        aspect-ratio: 640 / 360;
      }
    }
  }
}

// how-to-use
.how-to-use {
  margin-top: 60px;
  margin-bottom: 60px;

  @include mq(pc) {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  &__inner {
  }
  &__boxes {
    margin-top: 104px;
    display: flex;
    flex-direction: column;
    gap: 112px;

    @include mq(pc) {
      margin-top: 89px;
      gap: 75px;
    }
  }

  &__box {
    border-radius: 30px;
    background: #fffbf0;
    padding: 54px 40px 48px;

    @include mq(pc) {
      padding: 44px 10px 56px;
      border-radius: 40px;
    }

    &-title {
      position: relative;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 1.8px;

      @include mq(pc) {
        font-size: 22px;
        letter-spacing: 2.2px;
        padding-right: 95px;
        width: fit-content;
        margin: 0 auto;
      }

      img {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        bottom: calc(100% + 16px);
        width: 85px;

        @include mq(pc) {
          right: 0;
          transform: translateX(0);
          bottom: 0;
        }
      }

      .is-type2 & {
        @include mq(pc) {
          padding-right: 0;
          padding-left: 95px;
          img {
            right: auto;
            left: 0;
          }
        }
      }
    }
  }
  &__steps {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include mq(pc) {
      flex-direction: row;
      gap: 24px;
      max-width: 948px;
      margin: 0 auto;
      margin-top: 40px;
    }
  }
  &__step {
    @include mq(pc) {
      // width: calc(33.3% - 24px * 2 / 3);
      // これでもいける
      flex: 1;
    }
  }
}

// step-boxの共通クラス
.step-box {
  position: relative;
  padding-top: 45px;

  &__head {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid #111;
    background: #f5810e;

    // is-type2の中にあるstep-box__headは下記が適用される
    .is-type2 & {
      background-color: #fabe00;
    }

    &-text {
      font-family: $font-family-en;
      font-size: 13px;
      font-weight: 700;
      line-height: 100%; /* 13px */
      letter-spacing: 1.3px;
    }
    &-number {
      margin-top: 3px;
      color: #fff;
      font-family: $font-family-en;
      font-size: 34px;
      font-weight: 700;
      line-height: 100%; /* 34px */
      letter-spacing: 3.4px;
    }
  }
  &__body {
    border-radius: 30px;
    border: 3px solid #111;
    background: #fff;
    overflow: hidden;
    // 角丸から離れるときはoverflow: hiddenで直る
    padding: calc(50px - 3px) 10px calc(26px - 3px);
    text-align: center;
  }

  &__image {
    img {
      width: 160px;
      @include mq(pc) {
        width: 200px;
      }
    }
  }

  &__text {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 170%; /* 27.2px */
    letter-spacing: 0.48px;
  }
}

// merit
.merit {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 98px;
  }

  &__inner {
  }
  &__title {
  }
  &__boxes {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include mq(pc) {
      margin-top: 60px;
      gap: 40px;
      padding-top: 0;
      // 独自で付け加えた↑
    }
  }
  &__box {
  }
}

// merit-boxの共通クラス
.merit-box {
  border-radius: 20px;
  background: #fff;
  padding: 10px 20px 24px;

  @include mq(pc) {
    padding: 20px 18px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 50px;
  }

  &.is-reverse {
    @include mq(pc) {
      flex-direction: row;
    }
  }

  &__content {
    @include mq(pc) {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      gap: 50px;
      max-width: 920px;
      margin-right: auto;
      margin-left: auto;
    }

    .is-reverse & {
      @include mq(pc) {
        flex-direction: row;
      }
    }
  }

  &__image {
    text-align: center;

    @include mq(pc) {
      width: calc(350 / 920 * 100%);
    }

    img {
      width: 200px;

      @include mq(pc) {
        width: 350px;
      }
    }
  }
  &__body {
    margin-top: 18px;

    @include mq(pc) {
      width: calc(520 / 920 * 100%);
      margin-top: 0;
    }
  }
  &__head {
    display: flex;
    align-items: center;
    gap: 14px;

    @include mq(pc) {
      gap: 28px;
    }
  }
  &__number {
    color: #fabe00;
    font-family: $font-family-en;
    font-size: 70px;
    font-weight: 600;
    line-height: 100%; /* 70px */

    @include mq(pc) {
      font-size: 110px;
    }
  }
  &__title {
    font-family: $font-family-en;
    font-weight: 700;
    letter-spacing: 1.6px;

    @include mq(pc) {
      font-size: 20px;
      letter-spacing: 2px;
    }
  }
  &__text {
    margin-top: 10px;
    font-family: $font-family-ja;
    font-size: 14px;
    line-height: 200%; /* 28px */

    @include mq(pc) {
      font-size: 15px;
      margin-top: 16px;
    }
  }
}

// compare
.compare {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #fff;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__inner {
  }
  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 100%; /* 20px */
    text-align: center;

    @include mq(pc) {
      font-size: 24px;
    }
  }
  &__content {
    margin-top: 40px;
    overflow-x: auto;
    padding-bottom: 38px;

    @include mq(pc) {
      margin-top: 60px;
      padding-bottom: 0;
    }
  }
  &__table {
    width: 620px;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 0 auto;

    @include mq(pc) {
      width: 1000px;
    }

    th,
    td {
      text-align: center;
      font-weight: 700;
      height: 60px;
      vertical-align: middle;

      @include mq(pc) {
        height: 100px;
      }

      // tableの1番目の要素をwidth130pxにする
      &:nth-child(1) {
        width: 130px;

        @include mq(pc) {
          width: 250px;
        }
      }

      // tableの2番目の要素をwidth90pxにする
      &:nth-child(2) {
        width: 90px;
        background: #fff9e5;
        font-size: 16px;
        letter-spacing: 0.48px;

        @include mq(pc) {
          width: 250px;
          font-size: 25px;
          font-weight: 700;
          line-height: 170%; /* 42.5px */
          letter-spacing: 0.75px;
        }

        img {
          width: 70px;

          @include mq(pc) {
            width: 123px;
          }
        }
      }
    }

    th {
      letter-spacing: 0.48px;

      @include mq(pc) {
        font-size: 20px;
        letter-spacing: 0.6px;
      }
    }

    td {
      font-size: 14px;
      letter-spacing: 0.42px;

      @include mq(pc) {
        font-size: 16px;
        letter-spacing: 0.48px;
      }
    }

    thead {
      th {
        letter-spacing: 1.6px;

        @include mq(pc) {
          letter-spacing: 2px;
        }
      }
    }
    tbody {
      tr {
        border-top: 1.5px solid #000;

        @include mq(pc) {
          border-top-width: 3px;
        }
      }
      th,
      td {
        height: calc(60px - 1.5px);

        @include mq(pc) {
          height: 100px;
        }
      }
    }
  }

  &__attention {
    margin-top: 11px;
    color: #686868;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%; /* 14px */
    text-align: center;

    @include mq(pc) {
      display: none;
    }
  }
}

// qa
.qa {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__inner {
    @include mq(pc) {
      padding-right: 30px;
      padding-left: 30px;
      max-width: calc(800px + 30px * 2);
    }
  }

  &__title {
  }
  &__boxes {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 42px;

    @include mq(pc) {
      margin-top: 74px;
    }
  }

  &__box {
  }
}

// qa-box共通クラス
.qa-box {
  border-radius: 10px;
  border: 3px solid #111;
  background: #fff;

  &__head {
    padding: calc(32px - 3px) calc(40px - 3px) calc(20px - 3px) calc(15px - 3px);
    position: relative;
    display: block;
    width: 100%;

    @include mq(pc) {
      padding: calc(32px - 3px) calc(80px - 3px) calc(20px - 3px)
        calc(20px - 3px);
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 14px;
      width: 9.26px;
      height: 6.834px;
      background: url(../img/polygon.png) no-repeat center center / contain;
      transform: rotate(180deg);
      margin-top: 3px;

      @include mq(pc) {
        right: 18px;
        margin-top: 2px;
      }
    }

    &-icon {
      position: absolute;
      top: -26px;
      left: 12px;
      display: grid;
      place-items: center;
      font-family: $font-family-en;
      font-size: 22px;
      font-weight: 700;
      width: 44px;
      height: 44px;
      border-radius: 22px;
      border: 3px solid #111;
      background: #f5810e;

      @include mq(pc) {
        left: 17px;
      }
    }
    &-text {
      text-align: left;
      display: block;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1.12px;

      @include mq(pc) {
        font-size: 16px;
        line-height: 27px; /* 168.75% */
        letter-spacing: 1.28px;
      }
    }
  }

  &__body {
    padding: calc(10px + 3px) calc(17px - 3px) calc(20px - 3px) 15px;
    display: none;

    @include mq(pc) {
      padding: 3px calc(20px - 3px) calc(36px - 3px) calc(20px - 3px);
    }
  }

  &__a {
    display: flex;
    gap: 8px;

    @include mq(pc) {
      gap: 10px;
    }

    &-icon {
      display: grid;
      place-items: center;
      font-family: $font-family-en;
      font-size: 22px;
      font-weight: 700;
      width: 44px;
      height: 44px;
      border-radius: 22px;
      border: 3px solid #111;
      background: #fabe00;
      flex-shrink: 0;
    }
    &-text {
      display: block;
      // text-align: center;
      font-size: 14px;
      font-weight: 700;
      line-height: 170%; /* 23.8px */
      letter-spacing: 1.12px;
      flex-grow: 1;
      padding-top: 10px;
      text-indent: 2.2px;

      @include mq(pc) {
        font-size: 16px;
        line-height: 27px; /* 168.75% */
        letter-spacing: 1.28px;
        padding-top: 7px;
      }
    }
  }

  &.is-open {
    .qa-box__head {
      &::after {
        transform: rotate(0deg);
      }
    }

    .qa-box__body {
      // display: block;
    }
  }
}

// cta
.cta {
  background: $color-gradation;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  @include mq(pc) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__inner {
  }
  &__text {
    font-weight: 700;
    line-height: 200%; /* 32px */
    letter-spacing: 0.48px;

    @include mq(pc) {
      font-size: 18px;
      letter-spacing: 0.54px;
    }
  }
  &__button {
    margin-top: 16px;
  }
}

// gallery
.gallery {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(pc) {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  &__inner {
    @include mq(pc) {
      max-width: calc(800px + 30px * 2);
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &__title {
  }

  &__slider {
    margin-top: 30px;
    @include mq(pc) {
      margin-top: 60px;
    }
  }

  &__swiper {
    padding-bottom: 26px;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: -5px;
    margin-right: -5px;

    @include mq(pc) {
      padding-right: 80px;
      padding-left: 80px;
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  &__slide {
  }

  &__pagination {
    display: flex;
    justify-content: center;
    gap: 12px;
    bottom: 0 !important;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      margin-left: 0 !important;
      margin-right: 0 !important;
      background-color: #bcbcbc;
      opacity: 1;

      &-active {
        background-color: #fabe00;
      }
    }
  }

  &__prev,
  &__next {
    width: 40px;
    height: 40px;
    margin-top: -38px;

    @include mq(pc) {
      width: 50px;
      height: 50px;
      margin-top: -60px;
    }

    &::after {
      display: none;
    }
  }

  &__prev {
    left: 0;
    background: url(../img/prev-icon-left.png) no-repeat center center / contain;

    @include mq(pc) {
      left: 10px;
    }
  }
  &__next {
    right: 0;
    background: url(../img/next-icon-right.png) no-repeat center center /
      contain;

    @include mq(pc) {
      right: 10px;
    }
  }
}

// galleryの中のアイテム共通クラス
.gallery-card {
  border-radius: 20px;
  border: 3px solid #111;
  background: #fff;
  box-shadow: 0px 9px 30px 0px #f4f4f4;
  padding: calc(15px - 3px) calc(15px - 3px) calc(12px - 3px) calc(15px - 3px);

  @include mq(pc) {
    border-radius: 30px;
    padding: calc(20px - 3px) calc(20px - 3px) calc(18px - 3px) calc(20px - 3px);
  }

  &__image {
    text-align: center;
    img {
      border-radius: 10px;

      @include mq(pc) {
        border-radius: 20px;
      }
    }
  }
  &__text {
    margin-top: 11px;
    font-size: 14px;
    text-align: center;

    @include mq(pc) {
      margin-top: 18px;
      font-size: 16px;
    }
  }
}

// contact
.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(../img/section-bg.jpg) repeat top left / 529px auto;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__inner {
  }
  &__box {
    border-radius: 30px;
    background: #fff;
    padding: 60px 20px;

    @include mq(pc) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  &__title {
  }
  &__form {
    margin-top: 30px;

    @include mq(pc) {
      margin-top: 50px;
      max-width: 612px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  &__fields {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__field {
  }
  &__privacy {
    margin-top: 29px;
    text-align: center;
  }
  &__button {
    margin-top: 29px;
    text-align: center;

    @include mq(pc) {
      margin-top: 38px;
    }
  }
}

// form
.form-field {
  @include mq(pc) {
    display: flex;
    gap: 32px;
  }

  &__head {
    display: flex;
    align-items: center;
    gap: 10px;

    @include mq(pc) {
      width: calc(212px - 32px);
      flex-shrink: 0;
      // 縮めないでね
      justify-content: flex-end;
    }
  }
  &__label {
    font-weight: 700;
    line-height: calc(23 / 16);
  }
  &__tag {
    display: inline-block;
    border-radius: 2px;
    background: #ee8013;
    padding: 6px 8px 5px 8px;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    line-height: 100%; /* 11px */
    letter-spacing: 1.98px;

    &.is-option {
      background-color: #43b549;
    }
  }
  &__item {
    margin-top: 15px;
    flex-grow: 1;

    @include mq(pc) {
      margin-top: 0;
    }
  }

  // radio部分
  &__radios {
    display: flex;
    flex-direction: column;
    gap: 17px;

    @include mq(pc) {
      flex-direction: row;
      gap: 30px;
    }
  }
  &__radio {
  }
}

// form共通パーツ
.form-text {
  width: 100%;
  border-radius: 5px;
  border: 3px solid #111;
  background: #fff;
  padding: calc(15px - 3px) calc(16px - 3px) calc(14px - 3px);
  transition: border-color 0.3s;

  &:focus,
  &:hover {
    border-color: #fabe00;
    outline: none;
  }
}

// radioのパーツ化
.form-radio {
  line-height: calc(23 / 16);

  &:hover {
    .form-radio__text {
      &:before {
        border-color: #fabe00;
      }
    }
  }

  &__input {
    width: 1px;
    height: 1px;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;

    &:checked {
      + .form-radio__text {
        &:after {
          opacity: 1;
        }
      }
    }

    &:focus {
      + .form-radio__text {
        &:before {
          border-color: #fabe00;
        }
      }
    }
  }
  &__text {
    font-weight: 700;
    position: relative;
    padding-left: 28px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
    }

    &::before {
      width: 24px;
      height: 24px;
      border: 3px solid #111;
      left: 0;
      transition: border-color 0.3s;
    }

    &::after {
      width: 10px;
      height: 10px;
      background: #f5810e;
      left: 7px;
      opacity: 0;
    }
  }
}

// selectのパーツ化
.form-select {
  // ブラウザ標準のドロップダウンアイコンを非表示にする
  appearance: none;
  width: 100%;
  border-radius: 5px;
  border: 3px solid #111;
  background: #fff;
  font-weight: 700;
  padding: calc(15px - 3px) calc(46px - 3px) calc(14px - 3px) calc(16px - 3px);
  background: url(../img/Polygon\ 1.png) no-repeat center right 14px / 13.217px
    10.182px;
  transition: border-color 0.3s;

  &:focus,
  &:hover {
    border-color: #fabe00;
    outline: none;
  }
}

// textareaのパーツ化
.form-textarea {
  border-radius: 5px;
  border: 3px solid #111;
  background: #fff;
  width: 100%;
  height: 180px;
  padding: calc(16px - 3px);
  transition: border-color 0.3s;

  &:focus,
  &:hover {
    border-color: #fabe00;
    outline: none;
  }
}

// checkboxのパーツ化
.form-checkbox {
  &:hover {
    .form-checkbox__text {
      &:before {
        border-color: #fabe00;
      }
    }
  }
  &__input {
    width: 1px;
    height: 1px;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;

    &:checked {
      + .form-checkbox__text {
        &:after {
          opacity: 1;
        }
      }
    }

    &:focus {
      + .form-checkbox__text {
        &::before {
          border-color: #fabe00;
        }
      }
    }
  }
  &__text {
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 700;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &::before {
      width: 20px;
      height: 20px;
      border-radius: 1px;
      border: 1px solid #111;
      transition: border-color 0.3s;

      @include mq(pc) {
        margin-top: 2px;
      }
    }

    &::after {
      width: 23px;
      height: 17.53px;
      left: -1px;
      margin-top: -1.2px;
      background: url(../img/check-icon.png) no-repeat center center / contain;
      opacity: 0;

      @include mq(pc) {
        margin-top: 0.8px;
      }
    }

    a {
      text-decoration-line: underline;
      font-weight: 700;
      transition: color 0.3s;

      &:hover {
        color: #f5810e;
      }
    }
  }
}

// footer
.footer {
  background: #111111;
  padding-top: 8px;
  padding-bottom: 12px;
  text-align: center;

  @include mq(pc) {
  }

  &__inner {
  }
  &__copyright {
    color: #f5f5f5;
    font-size: 12px;
    line-height: 100%; /* 12px */
    letter-spacing: 0.96px;
  }
}

// page-topのボタン
.page-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: min(calc(50 / 375 * 100%), 50px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;

  @include mq(pc) {
    right: 16px;
    bottom: 30px;
    width: 76px;
  }

  &.is-show {
    opacity: 1;
    visibility: visible;
  }
  img {
  }
}
